<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="/css/reset.css" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Crimson+Text|Rokkitt|Carrois+Gothic+SC|Bungee+Hairline|Dorsa|Slabo+27px|Raleway|Titillium+Web|Orbitron|VT323|Cinzel|Satisfy" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
	<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
	<title>Dream App</title>
</head>

<body>
	{{{ body }}}
</body>

</html>
