
<button id="create-hole">Dig Hole</button>

<div id="portal-contain">
    {{#each users}}
        <button id="{{this.name}}" class="portals">Fall into: {{this.name}}</button>
    {{/each}}
</div>




	<!-- Custom Script -->
    <!-- <script src="/js/home.js" type="text/javascript"></script> -->
